body {
    background-image: url('../img/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    width: 50%; /* Ajusta el ancho del contenedor del carrusel */
    position: relative;
    margin-top: 3%; /* Ajusta el margen superior según sea necesario */
}

.carousel {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.carousel img {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    height: 40vh;
}

.prev, .next {
    position: absolute;
    width: 50px; /* Ajusta el ancho de los botones */
    height: 50px; /* Ajusta la altura de los botones */
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo de los botones */
    color: white;
    border: none;
    cursor: pointer;
    top: 25%; /* Posiciona el centro vertical de los botones en el centro del contenedor .carousel */
    transform: translateY(-50%); /* Ajusta la posición vertical para centrar */
}

.prev {
    left: 0;
}

.next {
    right: 0;
}




/* Text */
.text {
    display: flex;
    flex-wrap: wrap; /* Envuelve los elementos cuando no hay espacio */
    justify-content: flex-start; /* Comienza en el extremo izquierdo */
    align-content: flex-start; /* Comienza en el extremo superior */
    width: 100%;
    height: 40vh;
    background-color: beige;
    margin-top: 50px;
}

.box {
    width: 20%; /* Cada cuadro ocupa el 20% del ancho */
    height: 20%; /* Cada cuadro ocupa el 20% del alto */
    border: 1px solid black;
    box-sizing: border-box; /* Incluye el borde en el tamaño total */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    font-size: 24px; /* Tamaño de fuente para el texto dentro del cuadro */
}
  

/* imagenes complementarias */
.one{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0; 
    left: 0; 
}

.two{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0; 
    left: 0; 
}

.three{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0; 
    right: 0; 
}

.four{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0; 
    right: 0; 
}



/* MEDIA QUERYS */
@media only screen and (max-width: 600px){
    img{
        width: 50px;
        height: 50px;
    }
}