*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}





/* boton volver */
.volver{
    position: absolute;
    top:0;
    left: 0;
    translate: 20px 80px;
    height: 40px;
    width: 60px;
    font-size: 20px;
    font-weight: 600;
    
}

a{
    text-decoration: none;
}


/* botones esquinas  */
.one{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;   
}


.two{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;   
}


.three{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;   
}


.four{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;   
}


.center-aux{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* container */
.container{
    width: 110vh;
    height: 80vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
}

p{
    margin: 20px;
    font-size: 50px;
    user-select: none;
}

p:hover{
    color: rgb(15, 199, 15);
    text-shadow: 0 0 10px rgba(0, 255, 55, 0.8); 
    text-shadow: 0 0 11px rgba(0, 255, 55, 0.8);
    text-shadow: 0 0 12px rgba(0, 255, 55, 0.8);
    text-shadow: 0 0 13px rgba(0, 255, 55, 0.8);
    text-shadow: 0 0 14px rgba(0, 255, 55, 0.8);
    text-shadow: 0 0 15px rgba(0, 255, 55, 0.8);
    text-shadow: 0 0 16px rgba(0, 255, 55, 0.8);
    text-shadow: 0 0 17px rgba(0, 255, 55, 0.8);

}

@media only screen and (max-width: 600px){
    .container{
        width: 50vh;
        height: 60vh;
    }

    p{
        font-size: 30px;
    }
}